svg {
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-weight: lighter; }

.title {
  font-size: 16px; }

.backdrop {
  z-index: 1; }

.axis {
  stroke-width: 0.6; }
  .axis text[name="valuelabel"] {
    font-size: 9px;
    stroke: none; }
  .axis text[name="axislabel"] {
    font-size: 12px;
    stroke: none; }
  .axis .tick {
    stroke-width: 0.3; }
  .axis .longtick {
    stroke-width: 0.6; }

.grid {
  z-index: 2; }
  .grid .refline {
    stroke-width: 0.3; }
  .grid .longrefline {
    stroke-width: 0.6; }

.areas {
  z-index: 3; }
  .areas .area-curve {
    stroke: none; }

.percentiles {
  z-index: 10; }
  .percentiles .percentile-curve {
    fill: none;
    stroke: black;
    stroke-width: 1; }
    .percentiles .percentile-curve.dotted {
      stroke-dasharray: 5; }
  .percentiles .percentile-label {
    font-weight: lighter;
    font-size: 9px;
    stroke: none; }

.patient-data .percentile-label {
  font-weight: lighter;
  font-size: 12px;
  stroke: none; }

.patient-data .percentile-point {
  stroke: none; }

.patient-data .percentile-line {
  fill: none; }

.tooltip text {
  font-size: 12px;
  stroke: none; }
